.mainTitle {
	margin-top: 2%;
}

.mainDivProfile {
	margin-top: 5%;
}

.profileButtons a {
	padding-left: 0;
	margin-top: 3%;
}

.profileButtons .btn {
	width: 103x;
}

.modifProfil {
	margin-top: 3%;
	font-size: 14px;
}

.modifProfil input {
	font-size: 14px;
}

.cardVente {
	margin-top: 3%;
	font-size: 13px;
}

.cardVente input, .cardVente select, .cardVente textarea{
	font-size: 13px;
}


.btnRetour {
	margin: 0 auto 3% auto;
	width: 100% !important;
}

.labelProfil {
	font-weight: bold;
}

.btn-block {
	width: 30% !important;
	margin: 0 auto;
}

.divBtn{
	margin-bottom:10%;
}

.divBtn button, .divBtn a, .divBtn form {
	margin: 2% auto;
	width: 30%;
	text-decoration: none;
	color: black;
}

.divBtn .btn:hover, .divBtn a:hover {
	color: white;
}

.card {
	background-color: #fbfbff;
}

.ulErrors {
	list-style-type: none;
	padding-left: 0;
	margin:0;
}

.cardConnect {
	margin-top: 7%;
	padding:1.25rem !important;
}
.cardConnect input{
	margin-bottom:6%;
}

.divButtonsConnection, .btnCreateAccount {
	margin-top: 6%;
	font-size: 13px;
}

.passForgot{
	color:grey;
}

.alertConnection{
	margin : 6% auto;
}

.alertModification{
	margin : 3% auto;
}

.inputActualPass{
	font-style: italic;
	font-size:13px !important;
	color:grey;
}

.newSellTitle{
	text-align: center;
	margin-bottom: 6%;
	margin-top:2%;
}

.divbtnVente{
	margin-top:3%;
	margin-bottom: 10% !important;

}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.imgArticle{
	border:1px solid black;
	padding: 1%;
	width:100%;
}

.formArticle{
	margin-left:2%;
}