.mainTitle {
	margin-top: 2%;
}

a{
	color:black
}

.mainDivProfile {
	margin-top: 5%;
}

.divConnetionTitle{
	background-color:#2A88AD;
	border:1px solid #2A88AD;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-top:1%;
}
.connectionTitle{

	color:white;
	margin:0;
	padding:2.5%;
}

.venteTitle{
	color:white;
	padding:1.25%;
	margin:0;

}
.modifTitle{

	padding:2% !important;
}

.btnCustom{
	border-color: #2A88AD;
	color:#2A88AD;
}

.btnCustom:hover{
	background: #2A88AD;
	border-color: #2A88AD;
}

.profileButtons a {
	padding-left: 0;
	margin-top: 3%;
}

.profileButtons .btn {
	width: 100%;
}

.modifProfil {
	/*margin-top: 3%;*/
	font-size: 14px;
}

.modifProfil input {
	font-size: 14px;
}

.cardVente {
	/*margin-top: 3%;*/
	font-size: 13px;
}

.cardVente input, .cardVente select, .cardVente textarea{
	font-size: 13px;
}


.btnRetour {
	margin: 0 auto 3% auto;
	width: 100% !important;
}

.labelProfil {
	font-weight: bold;
}

.btn-block {
	width: 30% !important;
	margin: 0 auto;
}

.divBtn{
	margin-bottom:10%;
}

.divBtn button, .divBtn a, .divBtn form {
	margin: 2% auto;
	width: 30%;
	text-decoration: none;
	color:#2A88AD !important;	
}



.divBtn .btn:hover, .divBtn a:hover {
	color: white !important;
}

.card {
	background-color: #fbfbff;
}

.ulErrors {
	list-style-type: none;
	padding-left: 0;
	margin:0;
}

.cardConnect {
	/*margin-top: 7%;*/
	padding:1.25rem !important;
	margin-bottom:2%:
}
.cardConnect input{
	margin-bottom:6%;
}

.divButtonsConnection, .btnCreateAccount {
	margin-top: 6%;
	font-size: 13px;
}

.passForgot{
	color:grey;
}

.alertConnection{
	/*margin : 3% auto;*/
}

.alertAccueil{
	width:50%;
	margin : 0 auto;
}

.alertModification{
	/*margin : 3% auto;*/
}

.alertInscription{
	margin : 3% auto;
	font-size:14px;
}
.inputActualPass{
	font-style: italic;
	font-size:13px !important;
	color:grey;
}

.newSellTitle{
	text-align: center;

}

.divbtnVente{
	margin-top:3%;
	margin-bottom: 10% !important;

}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.imgArticle{
	border:1px solid black;
	padding: 12%;
	width:100%;
}

.imgUploaded{
	border:1px solid black;
	padding: 1%;
	width:100%;
}

.formArticle{
	margin-left:2%;
}

.form-style-10{
	/*width:450px;*/
	width:52%;
	padding:30px;
	margin:40px auto 80px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);

	font-size:30px;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
	font: normal 20px;
	color: #2A88AD;
	margin-bottom: 5px;
}
.form-style-10 .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px ;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}